@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Prata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Imperial+Script&display=swap");
/* html {
  font-family: "Lobster", cursive;
  /* font-family: "Dancing Script", cursive; */
  /* font-family: "Lobster", cursive; */
  /* font-family: "Pacifico", cursive;
  font-family: "Prata", serif; */
  font-family: "Imperial Script", cursive;
} */
body {
  object-fit: cover;
  object-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header,
.main,
.footer {
  /* s */
  height: auto;
  width: 100%;
}
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.header p {
  font-size: 20px;
}
.header .logo img {
  /* width: 100%; */
  width: 200px;
  height: 200px;
  object-fit: cover;
  object-position: 50% 40%;
  border-radius: 10px;
  box-shadow: 1px 2px 2px gray;
}
.header .header-name {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}
.header .header-maxim {
  text-align: center;
}
/* main */
.main {
  border-top: 1px solid black;
}
.main a {
  display: flex;
  justify-content: left;
  align-items: center;
  background-color: rgb(20, 154, 202);
  margin: 10px 0px;
  padding: 20px 20px;
  border-radius: 5px;
  text-decoration: none;
  color: initial;
  box-shadow: 1px 2px 2px gray;
}
.main a:hover {
  background-color: white;
}
.main a img {
  width: 30px;
}
.main a span {
  font-size: 20px;
}
.main a .icon {
  font-size: 30px;
}

/* footer */

.footer {
  border-top: 1px solid black;
  text-align: center;
}
