html {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body {
  background-image: url(./img/background.jpg);
  object-fit: cover;
  object-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header,
.main,
.footer {
  height: auto;
  width: 100%;
}
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.header p {
  font-size: 20px;
}
.header .logo img {
  /* width: 100%; */
  width: 200px;
  height: 200px;
  object-fit: cover;
  object-position: 50% 40%;
  border-radius: 10px;
  box-shadow: 2px 5px 2px gray;
  filter: brightness(110%);
}
.header .header-name {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  font-weight: bold;
}
.header .header-maxim {
  text-align: center;
  margin-bottom: 20px;
  font-style: italic;
}
/* main */
.main {
  border-top: 1px solid gray;
  margin: 10px 0px;
  padding-top: 10px;
}
.main a {
  display: flex;
  justify-content: left;
  gap: 5px;
  align-items: center;
  background-image: linear-gradient(to right, #12c2e9, #c4a1d6, #f59097);
  margin: 10px 0px;
  padding: 20px 20px;
  border-radius: 5px;
  text-decoration: none;
  color: initial;
  box-shadow: 1px 2px 2px gray;
}
.main a img {
  width: 30px;
}
.main a span {
  font-size: 20px;
  text-align: center;
}
.main a .icon {
  font-size: 30px;
}
/* footer */
.footer {
  border-top: 1px solid gray;
  text-align: center;
}
.footer p:first-child {
  text-align: center;
}
.footer p a {
  text-decoration: none;
  color: red;
}
.footer p:first-child {
  font-size: 18px;
}
.fa-location-dot {
  color: red;
}
.fa-envelope {
  color: rgb(0, 157, 255);
}
